.elements-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: center;
  row-gap: 20px;
  column-gap: 17px;
  padding-top: 47.25px;
  margin: 0;
  padding-bottom: 67px;
}

@media (max-width: 600px) {
  .elements-grid {
    padding-left: 16px;
    padding-right: 16px;
    width: 282px;
  }
}
