.header {
  max-width: 880px;
  padding-top: 45px;
  margin: auto;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media (max-width: 900px) {
  .header {
    max-width: 582px;
  }
}

@media (max-width: 600px) {
  .header {
    padding-top: 28px;
    max-width: 282px;
    padding-bottom: 31.6px;
  }
}
