.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  max-width: 880px;
  margin: auto;
}

@media (max-width: 1024px) {
  .content {

  }
}
