.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  height: 73px;
  align-content: center;
  padding-top: 25.75px;
  padding-left: 26.25px;
  padding-right: 251px;
  align-items: flex-start;

}

@media (max-width: 900px) {
  .profile__info {
    padding-right: calc(1px + (251 - 100) * ((100vw - 430px) / (1280 - 320)));
  }
}

@media (max-width: 768px) {
  .profile__info {
    padding-top: 22.25px;
    margin: auto;
    padding-left: 0;
    padding-bottom: 36px;
    justify-content: center;
    max-height: 54px;
  }
}
