.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  align-content: center;
  padding-top: 25.75px;
  padding-left: 26.25px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .profile__info {
    padding-top: 22.25px;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 36px;
    justify-content: center;
    max-height: 54px;
  }
}
