.footer {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 880px;
  padding-bottom: 60px;
}

@media (max-width: 900px) {
  .footer {
    max-width: 582px;
  }
}

@media (max-width: 600px) {
  .footer {
    max-width: 282px;
    padding-bottom: 36px;
  }
}
